$dark-theme-font-color: #ffffff;

.dark-header,
.dark-footer {
  background-color: black !important;
  color: $dark-theme-font-color !important;
}

.global-header {
  border-bottom: none !important;

  .header-logo {
    a {
      margin: 25px 0 0 40px !important;

      .logo {
        height: 20px !important;
      }
    }

    .course-header {
      color: $dark-theme-font-color !important;
    }

    .nav-tab{
      a {
        color: $dark-theme-font-color !important;
      }
    }
  }

  .nav-links {
    .main {
      .nav-tab {
        a {
          color: $dark-theme-font-color !important;
        }
      }
      a.active, a:hover {
        border-bottom-color: $dark-theme-font-color !important;
      }
    }

    .secondary {
      .nav-item {
        .username {
          color: $dark-theme-font-color !important;
        }
      }
    }
  }
}

.wrapper-footer {
  footer {
    .copyright {
      color: $dark-theme-font-color !important;
    }
  }
}


